Show and check all necessary DNS configurations when setting up domain

We should add the following DNS configurations when setting up a new domain:
- DKIM (the DKIM key is already shown)
- SPF (with the IP address of Remails' MTA) -> set e.g. `include:remails.net` for client's domain SPF record, and configure our own IP addresses in the SPF record of remails.net
- DMARC (with a default recommended configuration) -> maybe show multiple options

We should make it easy to copy-paste these into the DNS configuration, and we could verify all three of these to make sure everything is set up correctly.

---

Q: what about multiple conflicting DNS records?
- DKIM: not allowed, see [RFC6376 section 3.6.2.2](https://datatracker.ietf.org/doc/html/rfc6376/#section-3.6.2.2)
- SPF: not allowed, see [RFC7208 section 3.2](https://datatracker.ietf.org/doc/html/rfc7208#section-3.2)
- DMARC: not allowed, see [RFC7489 section 6.6.3](https://datatracker.ietf.org/doc/html/rfc7489#section-6.6.3)